<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaskManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TaskManager.Properties.Settings>
            <setting name="BossKeyModifiers" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="BossKey" serializeAs="String">
                <value>78</value>
            </setting>
            <setting name="isBalloon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VolumeUpModifiers" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VolumeUpKey" serializeAs="String">
                <value>38</value>
            </setting>
            <setting name="VolumeDownModifiers" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VolumeDownKey" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="MuteKeyModifiers" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MuteKey" serializeAs="String">
                <value>77</value>
            </setting>
            <setting name="ScreenshotModifiers" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ScreenshotKey" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="isRefreshMute" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Skill1Key" serializeAs="String">
                <value>87</value>
            </setting>
            <setting name="Skill2Key" serializeAs="String">
                <value>69</value>
            </setting>
            <setting name="Skill3Key" serializeAs="String">
                <value>82</value>
            </setting>
            <setting name="OKKey" serializeAs="String">
                <value>68</value>
            </setting>
            <setting name="CancelKey" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="WaitKey" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="IngameShortcutModifiers" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="IngameShortcutKey" serializeAs="String">
                <value>83</value>
            </setting>
            <setting name="ManualInagmeShortcutList" serializeAs="String">
                <value />
            </setting>
        </TaskManager.Properties.Settings>
    </userSettings>
</configuration>